

<div class="login_form">
	<p>To create an account, please fill out the following form:</p>
	<form action="/accounts/create" method="post">
		<table class="login_table">
			<% if @error != nil %>
				<tr>
					<td colspan="3" class="login_error">
						<%= @error %>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			<% end %>
			<tr>
				<td class="form_labeler">Username</td>
				<td><input type="text" name="username" placeholder="Username"/></td>
			</tr>			
			<tr>
				<td class="form_labeler">First Name</td>
				<td><input type="text" name="given_name" placeholder="First Name"/></td>
			</tr>
			<tr>
				<td class="form_labeler">Last Name</td>
				<td><input type="text" name="surname" placeholder="Last Name"/></td>
			</tr>
			<tr>
				<td class="form_labeler">Email Address</td>
				<td><input type="text" name="email" placeholder="Email"/></td>
			</tr>
			<tr>
				<td class="form_labeler">Password</td>
				<td><input type="password" name="password" placeholder="Password"/></td>
			</tr>
			<tr>
				<td colspan="2" class="form_button">
					<input type="submit" value="Create" /><br /><br />
					<a href="/">Cancel</a>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="form_button"></td>
			</tr>
		</table>
	</form>
</div>
