<html>
<head>
	<title>Heavybit - Service Portal</title>
	<link rel="stylesheet" type="text/css" href="<%= @APP_ROOT %>/style.css" media="screen" />
</head>
<body>
	<div id="page">
		<div id="container">
			<h1>Welcome to our service portal</h1>
			<p><%= yield %></p>
		</div>
	</div>
</body>
</html>