<p><%= @message %></p>
<form action="/session" method="post">
	Username: <input type="text" value="username" />
	Password: <input type="password" value="password" />
	<input type="submit" value="submit" />
</form>
