

<div class="login_form">
	<p>Please provide a new password</p>
	<form action="/accounts/set" method="post">
		<table class="login_table">
			<% if @error != nil %>
				<tr>
					<td colspan="3" class="login_error">
						<%= @error %>
					</td>
				</tr>
			<% end %>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" placeholder="New password"/></td>
				<td rowspan="2" class="form_button"><input type="submit" value="Recover" /></td>
			</tr>
			<tr>
				<td>Confirm Password</td>
				<td>
					<input type="password" name="password_confirm" placeholder="One more time"/>
					<input type="hidden" name="account_url" value="<%= @account_href %>">
				</td>
			</tr>
		</table>
	</form>
</div>
