

<div class="login_form">
	<p>To reset your password, please provide the email address associated with your account. You will receive an email with instructions that guide you through reseting your password.</p>
	<form action="/accounts/recover" method="post">
		<table class="login_table">
			<% if @error != nil %>
				<tr>
					<td colspan="2" class="login_error">
						<%= @error %>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			<% end %>
			<tr>
				<td><input type="text" name="email" placeholder="Email"/></td>
			</tr>
			<tr>
				<td class="form_button">
					<input type="submit" value="Recover" /><br /><br />
					<a href="/">Cancel</a>
				</td>
			</tr>
		</table>
	</form>
</div>
